html, body{
    color: blue;
    background-color:white;
}

.weak{
color: red;
}

.medium{
    color: orange;
}

.strong{
    color: green;
}

.mydivform{
    margin-left:320px;
    margin-right:auto;
    text-align:center;
    margin-top:20px;
}

.titleheader{
    margin-left:630px;
    margin-right:auto;
    color: pink;
    font-size: 18px;
    font-weight: bold;
}

nav{
    margin-top:auto;
    margin-bottom:auto;
}

.mycontainer{
    height: -webkit-fill-available;
}

.mynavbar{
    background-color:grey;
    
}

.myrow{
    height: 100%;
    
    
}

.myelement{
    color:greenyellow;
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
}

table,tr,td{
    border: 1px solid black
}

.my_cell{
    width: 100px;
    height:100px;
    text-align: center;
    background-color: green;
}

.my_cell_h{
    width: 100px;
    height:50px;
    text-align: center;
}

.Booked{
    background-color: red;
}
