html, body{
    color: blue;
    background-color:white;
}

.weak{
color: red;
}

.medium{
    color: orange;
}

.strong{
    color: green;
}

.mydivform{
    margin-left:320px;
    margin-right:auto;
    text-align:center;
    margin-top:20px;
}

.titleheader{
    margin-left:auto;
    margin-right:auto;
    color: white;
}

nav{
    margin-top:auto;
    margin-bottom:auto;
}

.mycontainer{
    height: -webkit-fill-available;
}

.mynavbar{
    background-color:grey;
    
}

.myrow{
    height: 100%;
}